ul{
    text-align: center;
}
li{
    display: inline;
    font-weight: bold;
    padding: 5px;
}

h1{
    text-align: center;
}
.filterLabel{
    font-weight: bold;
}

.inputGrid{ 
    justify-content: center;
    display: grid;
    grid-template-columns:
    /*id service email username password tag buttons  */ 
    40px 100px 245px 170px 190px 140px 150px; 
    grid-template-rows:
    25px 25px 25px 25px 25px 25px 25px 25px;
    column-gap: 3px;
    row-gap: 10px;
    padding: 10px;
}
.displayScrollBox{
    width: fit-content;
    grid-row-start: 3;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 7;
}
.clearFilterButton{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 8;
}
.addButton{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 8;
}
.deleteButton{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 8;
}

#displayTable{ 
    width: 900px;
    justify-content: center;
   
}
#displayTable tr:first-child{
    text-align: center;
    font-weight: bold;
}
td{
    border:3px solid blue;
}



