body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

h1{
  text-align: center;
}
li{
  display: inline;
  font-weight: bold;
  padding: 5px;
}